main {
  display: grid;
  grid-template-rows: auto auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

ul {
  border-left: solid rgba(243, 244, 224) 10px;
  padding: 0;
}

li {
  position: relative;
  font-size: 4rem;
  list-style-position: inside;
  left: -14px;
}

span {
  font-size: 1rem;
  border-bottom: solid rgba(243, 244, 224) 2px;
}

.list-section {
  display: inline-flex;
  align-items: flex-start;
  border-bottom: solid rgba(243, 244, 224) 3px;
}

#timeline {
  margin: 30px 0;
}

#about {
  margin-top: 20px;
  padding: 0px 13vw 0;

  border-bottom: 35px rgb(12, 11, 31) solid;
}

#about p {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  #about {
    padding: 0px 21vw 50px;
  }

  #about p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 991px) {
  #about {
    padding: 0px 28vw 50px;
  }

  #about p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  #about p {
    font-size: 1.5rem;
  }
}
