p {
  font-size: 1rem;
}

main {
  padding: 0px;
}

main,
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  padding: 0 2%;
}

main section section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

main section section article {
  display: block;
}

section {
  margin: 10px;
}

nav section {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
  margin-top: 30px;
}

main section article section img {
  width: 50vw;
  min-width: 300px;
  height: 30vw;
  min-height: 180px;

  transform: translate(-50%, 0);

  object-fit: cover;

  border: solid rgba(0, 0, 0, 0.5) 1px;
  border-radius: 10px;
}

main section article section img:hover {
  width: 50vw;
  height: 30vw;
}

main section section article section p {
  font-size: 0.7rem;
}

@media screen and (min-width: 768px) {
  main {
    padding: 50px 0px;
  }

  main section section {
    max-width: 80vw;
  }

  main section section article {
    max-width: 60vw;
  }

  main section section {
    flex-direction: row;
  }

  p {
    font-size: 1rem;
  }

  main section article section img {
    width: 35vw;
    height: 21vw;
  }

  main section article section img:hover {
    width: 35vw;
    height: 21vw;
  }
}

@media screen and (min-width: 991px) {
  main section section article {
    max-width: 50vw;
  }

  p {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
    margin-top: 50px;
  }
}
