main {
  display: flex;

  flex-direction: column;
  align-items: center;

  padding: 50px 0;
}

#projects {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
}

.project-container {
  display: flex;
  flex-direction: column;

  background: rgb(12, 11, 31);

  border: 1px solid black;
}

#projects article.reverse {
  flex-direction: column-reverse;
}

#projects section.project-text-container {
  padding: 3%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects section.project-text-container p {
  margin: 0px 10%;
}

.project-container a {
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.img-container {
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.4);
}

.project-container {
  width: 150px;
  height: 241px;
}

p {
  font-size: 0.5rem;
}

h2 {
  font-size: 0.7rem;
}

@media screen and (min-width: 450px) {
  .project-container {
    width: 200px;
    height: 322px;
  }
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .project-container {
    width: 300px;
    height: 483px;
  }
}

@media screen and (min-width: 991px) {
  p {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .project-container {
    width: 450px;
    height: 725px;
  }
}
