* {
  color: rgb(243, 244, 224);
}

body {
  margin: 0;
  padding: 0;

  background-image: url(../img/WebUtv-slutproject-backrund-inverted.svg);
  background-size: 2.5vh;
  background-repeat: repeat;
}

#Wrapper {
  display: grid;

  grid-template-rows: 100px 1fr 150px;
}

header,
footer {
  background: rgb(12, 11, 31);
}

nav {
  height: 100%;

  display: grid;

  grid-template-columns: 1fr 200px;
}

h1 {
  text-align: center;
}

nav :hover {
  text-decoration: none;
}

nav a {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

#nav-section-1 {
  display: grid;

  grid-template-columns: 120px 120px 1fr;

  align-items: center;
}

.nav-item {
  width: 100%;
  height: 100%;

  display: flex;

  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  color: rgb(12, 11, 31);
  background-color: rgba(243, 244, 224);
}

main {
  background: rgba(26, 20, 52, 0.9);
}

#current-page {
  font-weight: bold;
}

img {
  height: 100%;
  width: auto;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#project-menu {
  display: none;

  width: 120px;

  align-items: center;

  position: absolute;

  top: 100px;
  left: 120px;

  background: black;
}
