* {
  color: rgb(243, 244, 224);

  transition-duration: 0.2s;
  transition-property: all;

  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

body {
  width: 100%;

  margin: 0;
  padding: 0;

  background-image: url(../img/WebUtv-slutproject-backrund-inverted.svg);
  background-size: 2.5vh;
  background-repeat: repeat;
}

#Wrapper {
  display: grid;

  grid-template-rows: 100px 1fr 150px;
}

header,
footer {
  background: rgb(12, 11, 31);
}

header {
  position: sticky;
  top: 0px;

  z-index: 10;
}

nav {
  height: 100%;

  display: grid;

  grid-template-columns: auto 120px;
}

h1 {
  text-align: center;
  font-size: 1.2rem;
}

nav :hover {
  text-decoration: none;
}

nav a {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

#nav-section-1 {
  display: grid;

  grid-template-columns: 70px 70px auto;

  align-items: center;
}

.nav-item {
  width: 100%;
  height: 100%;

  display: flex;

  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  color: rgb(12, 11, 31);
  background-color: rgba(243, 244, 224);
}

main {
  background: rgba(26, 20, 52, 0.9);
}

#current-page {
  font-weight: bold;
}

img {
  height: 100%;
  width: auto;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img:hover {
  height: 120%;
}

#project-menu {
  display: none;

  width: 120px;

  align-items: center;

  position: absolute;

  top: 100px;
  left: 120px;

  background: black;
}

.header-button {
  display: inline;

  margin: 20px;

  font-size: 0.5rem;

  z-index: 15;

  position: fixed;

  height: 25px;
  width: 25px;

  cursor: pointer;
}

body.hide-header {
  top: -100px;
  position: absolute;
}

header.hide-header {
  position: relative;
}

span.material-symbols-outlined {
  font-size: 3rem;
}

span.material-symbols-outlined:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  nav {
    grid-template-columns: auto 160px;
  }

  #nav-section-1 {
    grid-template-columns: 120px 120px auto;
  }
}
