@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
* {
  color: rgb(243, 244, 224);

  transition-duration: 0.2s;
  transition-property: all;

  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
#directions section section article span {
  font-family: "Roboto Slab", serif;
}

body {
  width: 100%;

  margin: 0;
  padding: 0;

  background-image: url(../img/WebUtv-slutproject-backrund-inverted.svg);
  background-size: 2.5vh;
  background-repeat: repeat;
}

#Wrapper {
  display: grid;

  grid-template-rows: 100px 1fr 150px;
}

header,
footer {
  background: rgb(12, 11, 31);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

footer nav {
  display: flex;
  justify-content: space-around;

  font-size: 12px;

  width: 100%;
  max-width: 150px;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
  height: 70px;
  position: relative;
  left: -20%;
}

#website-info {
  text-align: center;
  font-size: 10px;
}

header {
  position: sticky;
  top: 0px;

  z-index: 10;
  display: grid;
  grid-template-columns: 70% 30%;
}

header nav {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

h1 {
  text-align: center;
  font-size: 1.2rem;
  margin-right: 10%;
}

header nav :hover {
  text-decoration: none;
}

header a,
main a {
  text-decoration: none;
  color: inherit;
}

.nav-item {
  width: 100%;
  height: 100%;

  display: flex;

  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  background-color: rgba(243, 244, 224);
}

.nav-item:hover span {
  color: rgb(12, 11, 31);
}

main {
  background: rgba(26, 20, 52, 0.9);
}

#current-page {
  font-weight: bold;
}

img {
  height: 100%;
  width: auto;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img:hover {
  height: 120%;
}

#project-menu {
  display: none;

  width: 120px;

  align-items: center;

  position: absolute;

  top: 100px;
  left: 120px;

  background: black;
}

#header-title {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.header-button {
  display: block;

  margin: 20px;

  font-size: 0.5rem;

  z-index: 15;

  position: fixed;

  height: 25px;
  width: 25px;

  cursor: pointer;

  top: 100px;
}

body.hide-header {
  top: -100px;
  position: absolute;
}

header.hide-header {
  position: relative;
}

header.hide-header .header-button {
  top: 0;
}

span.material-symbols-outlined {
  font-size: 3rem;
}

span.material-symbols-outlined:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  header {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 991px) {
  header {
    grid-template-columns: 30% 70%;
  }
}
